<h1>Страница с полученным результатом</h1>

<hr>
  <p>
    Палиндром - число, которое читается одинаково 
    как справа налево, так и слева направо.
  </p>
<hr>

<%= link_to "xml-распечатка БД", calc_xml_path %>
<br><br>
<a href = "/">Повторить ввод<a>

<div id="container">
    <div id="left">
      <table>
      <thead>
        <tr>
          <th>Номер</th>
          <th>Число</th>
          <th>Квадрат числа</th>
        </tr>
      </thead>
      <tbody>
        <% @count = 0 %>
        <% @result.each do |x, quad| %>
        <% @count += 1 %>
          <tr>
            <td><%= "#{@count}" %></td>
            <td><%= "#{x}" %></td>
            <td><%= "#{quad}" %></td>
          </tr>
        <% end %>
      </tbody> 
      </table>
      <table>
        <tr>
          <th>Количество чисел: </th>
          <td><%= "#{@count}" %></td>
        </tr>
      </table>
    </div>
</div>

<!--
  <br><br><br>
  <div>
    <p>База данных:</p>
    <% Answer.all.each do |result| %>
      <%= result.input %>
      <%= result.output %>
      <br>
    <% end %>
  </div>
-->
