<h1>Страница с полученным результатом</h1>

<hr>
  <p>
    Счастливое число - число, у которого суммы
    первых и последних трёх цифр равны
  </p>
<hr>

<%= link_to "xml-распечатка БД", calc_xml_path %>
<br><br>
<a href = "/">Повторить ввод<a>

<div id="container">
  <div id="left">
    <table>
      <thead>
        <tr>
          <th>Итерация</th>
          <th>Счастливое число</th>
        </tr>
      </thead>
      <tbody>
        <% @result.each do |iter, num| %>
          <tr>
            <td><%= "#{iter}" %></td>
            <td><%= "#{num}" %></td>
          </tr>
        <% end %>
      </tbody> 
    </table>
  </div>
</div>

<!--
  <br><br><br>
  <div>
    <p>База данных:</p>
    <% Answer.all.each do |result| %>
      <%= result.input %>
      <%= result.output %>
      <br>
    <% end %>
  </div>
-->
