<!DOCTYPE html>
<html>
  <head>
    <title>LR11</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      #container {
        position: relative;
        width: 100%;
      }

      #left {
        position: absolute;
        left: 0;
        top: 0;
        width: 30%;
        margin-top: 10px;

      }

      table {
        text-align: center;
        width: 100%;
      }

      table, tr, th, td {
        border: 1px solid black;
      }

      h1 {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <%= yield %>
    <p>
      <% flash.each do |_type, msg| %>
        <%= msg %>
      <% end %>
    </p>
  </body>
</html>
